# Segmenting And Clustering Neighborhoods

First, import the required libraries.

In [3]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

Create a dataframe from  https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, .
The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood.

In [4]:
df = pd.read_csv('Toronto_dataset.csv')

In [5]:
df.head()

  Postal Code      Borough                                     Neighborhood
0         M1S  Scarborough                                        Agincourt
1         M8W    Etobicoke                           Alderwood, Long Branch
2         M3H   North York  Bathurst Manor, Wilson Heights, Downsview North
3         M2K   North York                                  Bayview Village
4         M5M   North York                Bedford Park, Lawrence Manor East

In [6]:
df.isnull().sum()

Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

In [8]:
toronto_geocsv = 'https://cocl.us/Geospatial_data'
!wget -q -O 'toronto_m.geospatial_data.csv' toronto_geocsv
geocsv_data = pd.read_csv(toronto_geocsv).set_index("Postal Code")
geocsv_data.head()

'wget' is not recognized as an internal or external command,
operable program or batch file.

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [9]:
toronto_neighborhoods = df.join(geocsv_data)
toronto_neighborhoods.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1S,Scarborough,Agincourt,NaN,NaN
1,M8W,Etobicoke,"Alderwood, Long Branch",NaN,NaN
2,M3H,North York,"Bathurst Manor, Wilson Heights, Downsview North",NaN,NaN
3,M2K,North York,Bayview Village,NaN,NaN
4,M5M,North York,"Bedford Park, Lawrence Manor East",NaN,NaN

In [28]:
toronto_neighborhoods.shape

(103, 5)